table.re-frame-datatable > thead th.sorted-by:after {
    display: inline-block;
    content: '\f0dc';
}

table.re-frame-datatable > thead th.sorted-by.asc:after {
    content: '\f0d8';
}

table.re-frame-datatable > thead th.sorted-by.desc:after {
    content: '\f0d7';
}


table.re-frame-datatable > thead th:after {
    display: none;
    font-family: Icons;
    margin-left: .5em;
}

.ui.section {
    margin-bottom: 2.5em;
}

.inline-code {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

